<!DOCTYPE html>
<html>
  <head>
    <title>Tuning App</title>
    <meta name="google-site-verification" content="TSKMbtv36jCVVJWjLOcUzhFbDidxxkjRMUdj2iXNhrk" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag 'tuning', media: 'all' %>
    <%= javascript_include_tag 'tuning' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.js"></script>
    <script src="https://kit.fontawesome.com/1227b85169.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
</html>
